/* Empty. Add your own CSS if you like */
.background{
	background-color: #67492f;
}

.background-header{
	background-color: #720f12;
}

.logo{
	margin-top: 50px; 
	text-align: center;
	border-top: 3px solid #e21f1d;
	border-bottom: 3px solid #e21f1d;
	margin-bottom: 30px;
}
